* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bodyclass {
    background-image: url(https://github.com/armandocardosoneto/coder-house/blob/main/images/fundo.png?raw=true);
    Background-position: center center;
    background-size: cover;
}

.bottonhome {
    border: 4px;
    margin: 6px;
    padding: 10px;
    text-decoration: solid;
    cursor: pointer;
    transition: .3s;
    border-radius: 2px;
    background-color: rgb(204, 99, 99);
    box-shadow: 2px 2px rgb(175, 175, 175);
    font-weight: bolder;
}

.bottonhome:hover {
    transform: scale(1.2);
    transition: .3s;
    font-weight: bold;
}

.logoclass {
    width: 200px;
    height: 196px;
    margin: auto;
    display: block;
}

header img {
    animation: muda-logo 6s infinite;
}

@keyframes muda-logo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.05) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.magicclass {
    width: 100%;
    height: 30px;
    text-align: center;
}

.gatheringclass {
    width: 100%;
    height: 30px;
    text-align: center
}

.classcccd {
    font-weight: bolder;
    color: rgb(176, 18, 18);
    text-align: center;
}

.mainclass {
    width: 100%;
    height: 215px;
}

.divclass {
    border: 50px;
    margin: 3px;
    padding: 50px;
    text-decoration: solid;
    border-radius: 2px;
    display: flexbox;
    background-color: rgb(204, 99, 99);
    box-shadow: 2px 2px rgb(175, 175, 175);
    font-weight: bolder;
    text-align: center
}

.footer {
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .bodyclass .logoclass {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 650px) {
    .bodyclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .bodyclass {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 490px) {
    .bodyclass {
        width: auto;
        height: auto;
        margin-top: 40px;
    }

    .divclass {
        width: auto;
        height: auto;
        margin-top: 180px;
        margin-bottom: auto;
    }

    .footer {
        width: 100%;
        /* height: 100px; */
        padding: 22px 0;
        text-align: center;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}