*{
    margin:0;
    padding:0;
    border:0;
}
#bodyid {
    background-image: url(https://github.com/armandocardosoneto/coder-house/blob/main/images/bghome.jpg?raw=true);
    Background-position: center center;
    background-size: cover;
}
header img {
animation: muda-logo 6s infinite;
}
@keyframes muda-logo {
0% {transform: scale(1) rotate(0deg);}
25% {transform: scale(1.05) rotate(5deg);}
50% {transform: scale(1) rotate(0deg);}
75% {transform: scale(1.05) rotate(-5deg);}
100% {transform: scale(1) rotate(0deg);}
}
header img {
    display: block;
    width: 200px;
    margin: 17px auto 0 auto;
}
.magicclass {
    width: 100%;
    height: 40px;
    text-align: center;
}
.gatheringclass {
    width: 100%;
    height: 45px;
    text-align: center
}
.mainstyle {
    width: 100%;
    height: 60px;
    display: flex;
}
.sectionIntroducao{
    width: 25%;
    height: 40px;
    text-align: center;
}
.sectionRegras {
    width: 25%;
    height: 40px;
    text-align: center
}
.sectionConjunto {
    width: 25%;
    height: 40px;
    text-align: center
}
.sectionGlossario {
    width: 25%;
    height: 40px;
    text-align: center
}
button {
    border: 2px;
    padding: 5px;
    text-decoration: solid;
    cursor: pointer;
    transition:.3s;
    border-radius: 2px;
    background-color:rgba(150, 183, 184, 0.368);
    box-shadow: 2px 2px rgb(175, 175, 175)
}
button:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(250%);
}
.divimagens {
    width: 100%;
    height: 205px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.imagem1 {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
}
.imagem1:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(200%)
}
.imagem2 {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
}
.imagem2:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(200%)
}
.imagem3 {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
}
.imagem3:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(108%)
}
.imagem4 {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
}
.imagem4:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(200%)
}
.imagem5 {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
}
.imagem5:hover {
    transform: scale(1.15);
    transition:.3s;
    filter: brightness(200%)
}
.divimagens img {
    animation: muda-logo 6s infinite;
    }
    @keyframes muda-logo {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(1.05) rotate(5deg);}
    50% {transform: scale(1) rotate(0deg);}
    75% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg);}
    }
.footer {
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
    padding: 8px 0;
    margin-top: 20px;
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .bodyclass .logoclass {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 650px) {
    .bodyclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .bodyclass {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 490px) {
    .bodyclass {
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .mainstyle {
        width: auto;
        height: 470px;
    }

    .divimagens {
        display: none
    }

    button {
        border: 2px;
        padding: 5px;
        text-decoration: solid;
        cursor: pointer;
        transition:.3s;
        border-radius: 2px;
        background-color:rgba(150, 183, 184, 0.368);
    }

    .footer {
        width: 100%;
        /* height: 100px; */
        padding: 22px 0;
        text-align: center;
        margin-top: 15px;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}