* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bodyclass {
    background-image: url(../images/bgluzglossario.png);
    Background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    animation: muda-logo 6s infinite;
}

@keyframes muda-logo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.05) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.logo-titles {
    padding-top: 60px; 
}

.logoclass {
    width: 200px;
    height: 196px;
    padding-top: 60px; 
    margin: auto;
    margin-top: 15px;
    display: block;
}

.logoclass:hover {
    transform: scale(1.15);
    transition: .3s;
}

.magicclass {
    width: 100%;
    height: 30px;
    text-align: center;
}

.gatheringclass {
    width: 100%;
    height: 30px;
    text-align: center
}

.classglossario {
    font-weight: bolder;
    color: rgb(5, 69, 138);
    text-align: center;
}

main {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.divclass {
    border: auto;
    margin: 20px 15px;
    padding: auto;
    transition: .5s;
    flex-basis: 20%;
}

.divclass:hover {
    transform: scale(1.03);
    font-weight: bold;
}

.gridaside {
    position: left;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 300px 300px 300px 300px 300px;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: stretch;
    width: 210px;
    height: 2550px;
}

.imageclass {
    border: auto;
    margin: 50px;
    padding: auto;
    height: 70px;
}

.imageclass:hover {
    transform: scale(1.5);
    transition: .5s;
}

.imageclass img {
    animation: muda-logo 6s infinite;
}

@keyframes muda-logo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.05) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.classfooter {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(88, 133, 181);
    border-top: 2px solid white;
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .divclass {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 650px) {
    .divclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .divclass {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 490px) {
    .grid {
        flex-direction: column;
        justify-content: center;
        height: auto;
        row-gap: auto;
        margin-bottom: 25px;

        display: grid;
        grid-template-columns: 390px;
        grid-template-rows: auto;
        text-align: justify;
    }

    .divclass {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .gridaside {
        display: none;
    }

    .logoclass {
        margin: auto;
        margin-top: 3px;
    }

    .classfooter {
        width: 100%;
        height: 30px;
        text-align: center;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
        border-top: 2px solid white;
    }
}