*{
    margin:0;
    padding:0;
    border:0;
}
.bodyclass {
    background-image: url(https://github.com/armandocardosoneto/coder-house/blob/main/images/fundo.png?raw=true);
    Background-position: center center;
    background-size: cover;
}
.logoclass {
    width: 200px;
    height: 196px;
    margin: auto;
    display: block;
}
header img {
animation: muda-logo 6s infinite;
}
@keyframes muda-logo {
0% {transform: scale(1) rotate(0deg);}
25% {transform: scale(1.05) rotate(5deg);}
50% {transform: scale(1) rotate(0deg);}
75% {transform: scale(1.05) rotate(-5deg);}
100% {transform: scale(1) rotate(0deg);}
}
.magicclass {
    width: 100%;
    height: 30px;
    text-align: center;
}
.gatheringclass {
    width: 100%;
    height: 30px;
    text-align: center
}
.classprimeiro {
    font-weight: bolder;
    color: rgb(176, 18, 18);
    text-align: center;
}
.bottonhome {
    border: 4px;
    margin: 6px;
    padding: 10px;
    text-decoration: solid;
    cursor: pointer;
    transition:.3s;
    border-radius: 2px;
    background-color:rgba(150, 183, 184, 0.368);
    box-shadow: 2px 2px rgb(175, 175, 175);
    font-weight: bolder;
}
.bottonhome:hover {
    transform: scale(1.2);
    transition:.3s;
    font-weight: bold;
}
.oqvou {
    margin: 50px;
    height: auto;
    font-weight: bolder;
}
.vouprecisar {
    margin: 50px;
    height: auto;
}
.maintipos {
    display: grid;
    /*4 colunas*/
    grid-template-columns: 310px 310px 310px 310px;
    /*1 linhas*/
    grid-template-rows:470px;
    column-gap: 5px;
    text-align: center;
    justify-content: space-evenly;
}
.criatura {
    box-shadow: 2px 2px rgb(175, 175, 175);
    text-decoration: solid;
    background-color:rgba(150, 183, 184, 0.368);
}
.artefatos {
    box-shadow: 2px 2px rgb(175, 175, 175);
    text-decoration: solid;
    background-color:rgba(150, 183, 184, 0.368);
}
.encantamentos {
    box-shadow: 2px 2px rgb(175, 175, 175);
    text-decoration: solid;
    background-color:rgba(150, 183, 184, 0.368);
}
.feiticos {
    box-shadow: 2px 2px rgb(175, 175, 175);
    text-decoration: solid;
    background-color:rgba(150, 183, 184, 0.368);
}
.footer {
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
}
.classfases {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .bodyclass .logoclass {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 650px) {
    .bodyclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .bodyclass {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 490px) {
    .bodyclass {
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .maintipos {
        display: grid;
        /*1 colunas*/
        grid-template-columns: auto;
        /*4 linhas*/
        grid-template-rows:auto;
        row-gap: 15px;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .bottonhome {
        border: 4px;
        margin: 7px;
        padding: 10px;
        text-decoration: solid;
        border-radius: 10px;
        background-color:rgb(252, 3, 3);
    }

    .footer {
        width: 100%;
        /* height: 100px; */
        padding: 22px 0;
        text-align: center;
        margin-top: 15px;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}