*{
    margin:0;
    padding:0;
    border:0;
}
.bodyclass {
    background-image: url(../images/fundo.png);
    Background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logoclass {
    width: 200px;
    height: 196px;
    margin: auto;
    margin-top: 15px;
    display: block;
}
header img {
animation: muda-logo 6s infinite;
}
@keyframes muda-logo {
0% {transform: scale(1) rotate(0deg);}
25% {transform: scale(1.05) rotate(5deg);}
50% {transform: scale(1) rotate(0deg);}
75% {transform: scale(1.05) rotate(-5deg);}
100% {transform: scale(1) rotate(0deg);}
}
.magicclass {
    width: 100%;
    height: 30px;
    text-align: center;
}
.gatheringclass {
    width: 100%;
    height: 30px;
    text-align: center
}
.classregrasemec {
    font-weight: bolder;
    color: rgb(176, 18, 18);
    text-align: center;
}
.mainclass {
    margin: 50px;
    height: auto;
}
.classrules {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}
.footer {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);   
    padding: 8px 0;
    margin-top: 25px;
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .bodyclass .logoclass {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 650px) {
    .bodyclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .bodyclass {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 490px) {
    .bodyclass {
        width: auto;
        height: auto;
        margin-top: 40px;
        text-align: justify;
    }

    .bottonhome {
        border: 4px;
        margin: 7px;
        padding: 10px;
        text-decoration: solid;
        border-radius: 3px;
        background-color:rgb(222, 20, 100);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: 22px 0;
        text-align: center;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}