* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

.bodyclass {
    background-image: url(../images/fundo.png);
    Background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logoclass {
    width: 200px;
    height: 196px;
    margin: auto;
    display: block;
}

header img {
    animation: muda-logo 6s infinite;
}
@keyframes muda-logo {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(1.05) rotate(5deg);}
    50% {transform: scale(1) rotate(0deg);}
    75% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg);}
}

.magicclass {
    width: 100%;
    height: 30px;
    text-align: center;
}

.gatheringclass {
    width: 100%;
    height: 30px;
    text-align: center
}

.classprimeiro {
    font-weight: bolder;
    color: rgb(176, 18, 18);
    text-align: center;
    margin-bottom: 12px;
}

.bottonhome {
    border: 4px;
    margin: 6px;
    padding: 10px;
    text-decoration: solid;
    cursor: pointer;
    transition:.3s;
    border-radius: 2px;
    background-color:rgba(150, 183, 184, 0.368);
    box-shadow: 2px 2px rgb(175, 175, 175);
    font-weight: bolder;
}
.bottonhome:hover {
    transform: scale(1.2);
    transition:.3s;
    font-weight: bold;
}

h4 {
    text-align: center;
}

.oqvou {
    margin: 25px 0;
    height: auto;
    font-weight: bolder;
}

.vouprecisar {
    margin: 50px;
    height: auto;
    text-align: justify;
}

.vouprecisar li {
    margin-bottom: 8px;
}

.maintipos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    text-align: justify;
    justify-content: space-evenly;
    padding: 0 12px;
}

.maintipos div {
    padding: 12px 17px;
    box-shadow: 2px 2px rgb(175, 175, 175);
    text-decoration: solid;
    background-color:rgba(150, 183, 184, 0.368);
}

.maintipos div h4 {
    margin: 8px 0 10px 0;
}

.maintipos div p {
    margin-bottom: 10px;
    line-height: 1.2;
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
    margin-top: 20px;
    padding: 10px 0;
}

.classfases {
    height: 20px;
    margin: 30px 0 8px 0;
    font-weight: bolder;
}

/*Configuração para mobile*/
@media screen and (max-width: 900px) {
    .bodyclass .logoclass {
        flex-basis: 25%;
    }

    .maintipos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .bodyclass {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 550px) {
    .bodyclass {
        flex-basis: 80%;
    }

    .maintipos {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 490px) {
    .bodyclass {
        width: auto;
        height: auto;
        margin-top: 20px;
        text-align: justify;
    }

    .bottonhome {
        border: 4px;
        margin: 7px;
        padding: 10px;
        text-decoration: solid;
        border-radius: 10px;
        background-color:rgb(252, 3, 3);
    }

    .footer {
        width: 100%;
        padding: 22px 0;
        text-align: center;
        margin-top: 15px;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}