* {
    margin: 0;
    padding: 0;
    border: 0;
}

#bodyid {
    background-image: url(../images/bghome.jpg);
    Background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 565px;
}

.logo-titles {
    padding-top: 40px; 
}

header img {
    animation: muda-logo 6s infinite;
}

@keyframes muda-logo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.05) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

header img {
    display: block;
    width: 200px;
    margin: 17px auto 0 auto;
}

.magicclass {
    width: 100%;
    height: 40px;
    text-align: center;
}

.gatheringclass {
    width: 100%;
    height: 35px;
    text-align: center
}

.divimagens {
    width: 100%;
    height: 175px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.divimagens div {
    width: 20%;
    height: 120px;
    padding: 20px 20px;
    opacity: 0.9;
    transition: .3s;
}

.divimagens div:hover {
    transform: scale(1.15);
    filter: brightness(120%);
}

.divimagens img {
    animation: muda-logo 6s infinite;
}

@keyframes muda-logo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.05) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
    margin-top: 20px;
    padding: 8px 0;
    border-top: 2px solid white;
}


/*Configuração para mobile*/

@media screen and (max-width: 750px) {

    .mainstyle {
        width: auto;
        display: flex;
        height: 70px;
        justify-content: space-between;
    }

    .divimagens {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
        row-gap: 1rem;
    }


    .footer {
        width: 100%;
        padding: 15px 0 20px 0;
        text-align: center;
        margin-top: 40px;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
        border-top: 2px solid white;
    }
}

@media screen and (max-width: 375px) {
    button {
        font-size: 10px;
    }
}