* {
    margin: 0;
    padding: 0;
    border: 0;
}
#bodyid {
    background-image: url(https://github.com/armandocardosoneto/coder-house/blob/main/images/bghome.jpg?raw=true);
    Background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
header img {
animation: muda-logo 6s infinite;
}
@keyframes muda-logo {
0% {transform: scale(1) rotate(0deg);}
25% {transform: scale(1.05) rotate(5deg);}
50% {transform: scale(1) rotate(0deg);}
75% {transform: scale(1.05) rotate(-5deg);}
100% {transform: scale(1) rotate(0deg);}
}
header img {
    display: block;
    width: 200px;
    margin: 17px auto 0 auto;
}
.magicclass {
    width: 100%;
    height: 40px;
    text-align: center;
}
.gatheringclass {
    width: 100%;
    height: 45px;
    text-align: center
}
.mainstyle {
    width: 100%;
    height: 60px;
    display: flex;
}
.sectionIntroducao{
    width: 25%;
    height: 40px;
    text-align: center;
}
.sectionRegras {
    width: 25%;
    height: 40px;
    text-align: center
}
.sectionConjunto {
    width: 25%;
    height: 40px;
    text-align: center
}
.sectionGlossario {
    width: 25%;
    height: 40px;
    text-align: center
}
button {
    border: 2px;
    padding: 5px;
    text-decoration: solid;
    cursor: pointer;
    border-radius: 2px;
    background-color:rgba(150, 183, 184, 0.368);
    box-shadow: 2px 2px rgb(175, 175, 175);
    font-size: 14px;
    transition: .3s;
}
button:hover {
    transform: scale(1.15);
    filter: brightness(250%);
}
.divimagens {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
.divimagens div {
    width: 20%;
    height: 140px;
    padding: 20px 20px;
    opacity: 0.9;
    transition:.3s;
}
.divimagens div:hover {
    transform: scale(1.15);
}

.divimagens img {
    animation: muda-logo 6s infinite;
    }
    @keyframes muda-logo {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(1.05) rotate(5deg);}
    50% {transform: scale(1) rotate(0deg);}
    75% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg);}
    }
.footer {
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(204, 99, 99);
    padding: 8px 0;
    margin-top: 45px;
}

/*Configuração para mobile*/

@media screen and (max-width: 750px) {

    .mainstyle {
        width: auto;
        display: flex;
        height: 70px;
        justify-content: space-between;
    }

    .divimagens {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
        row-gap: 1rem;
    }

    button {
        border: 4px;
        margin: 7px;
        padding: 5px;
        text-decoration: solid;
        border-radius: 10px;
        background-color:rgb(252, 252, 3);
        font-size: 12px;
    }

    .footer {
        width: 100%;
        padding: 15px 0 20px 0;
        text-align: center;
        margin-top: 40px;
        font-weight: bolder;
        background-color: rgb(88, 133, 181);
    }
}

@media screen and (max-width: 375px) {
    button {
        font-size: 10px;
    }
}